<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../assets/styles/main.scss">
        <title>Virginia Woolf: Libros</title>
    </head>
    <body>
        <header>
            <h1>Virginia Woolf</h1>
        </header>
        <nav>
            <ul>
                <li><a href="../index.html">Portada</a></li>
                <li><a href="./categoria.html" class="current">Libros</a></li>
                <li><a href="./presentacion.html">Biografía</a></li>
                <li><a href="./enlaces.html">Bibliografía</a></li>
            </ul>
        </nav>
        <main>

            <div class="subMenu">
                <ul>
                    <li><button id="todos">Todos</button></li>
                    <li><button id="novelas">Novelas</button></li>
                    <li><button id="cuentos">Cuentos</button></li>
                    <li><button id="biografías">Biografías</button></li>
                    <li><button id="ensayos">Ensayos</button></li>
                </ul>
            </div>

            <div class="categoria">
            </div>
            
        </main>
        <script type="module" src="../assets/scripts/app.js"></script>
        <footer></footer>
    </body>
</html>