<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../assets/styles/main.scss">
        <title>Virginia Woolf: Bibliografía</title>
    </head>
    <body>
        <header>
            <h1>Virginia Woolf</h1>
        </header>
        <nav>
            <ul>
                <li><a href="../index.html">Portada</a></li>
                <li><a href="./categoria.html">Libros</a></li>
                <li><a href="./presentacion.html">Biografía</a></li>
                <li><a href="./enlaces.html" class="current">Bibliografía</a></li>
            </ul>
        </nav>
        <main>
            <h1>Bibliografía</h1>
            <ol>
                <li>Biografía. <a href="https://www.britannica.com/biography/Virginia-Woolf" target="_blank">https://www.britannica.com/biography/Virginia-Woolf</a></li>
                <li>Imágenes. <a href="https://commons.wikimedia.org/wiki/Main_Page" target="_blank">https://commons.wikimedia.org/wiki/Main_Page</a></li>
                <li>Sinopsis Fin del viaje. <a href="https://www.gradesaver.com/the-voyage-out/study-guide/summary" target="_blank">https://www.gradesaver.com/the-voyage-out/study-guide/summary</a></li>
                <li>Sinopsis Noche y día. <a href="http://www.bookrags.com/studyguide-night-and-day-a-novel/#gsc.tab=0 " target="_blank">http://www.bookrags.com/studyguide-night-and-day-a-novel/#gsc.tab=0 </a></li>
                <li>Sinopsis El cuarto de Jacob. <a href="https://www.supersummary.com/jacob-s-room/summary/" target="_blank">https://www.supersummary.com/jacob-s-room/summary/</a></li>
                <li>Sinopsis La señora Dalloway. <a href="https://www.litcharts.com/lit/mrs-dalloway/summary" target="_blank">https://www.litcharts.com/lit/mrs-dalloway/summary</a></li>
                <li>Sinopsis Al faro. <a href="https://www.gradesaver.com/to-the-lighthouse/study-guide/summary" target="_blank">https://www.gradesaver.com/to-the-lighthouse/study-guide/summary</a></li>
                <li>Sinopsis Orlando. <a href="https://www.sparknotes.com/lit/orlando/summary/" target="_blank">https://www.sparknotes.com/lit/orlando/summary/</a></li>
                <li>Sinopsis Las olas. <a href="https://www.supersummary.com/the-waves/summary/" target="_blank">https://www.supersummary.com/the-waves/summary/</a></li>
                <li>Sinopsis Los años. <a href="https://www.gradesaver.com/the-years/study-guide/summary" target="_blank">https://www.gradesaver.com/the-years/study-guide/summary</a></li>
                <li>Sinopsis Entre actos. <a href="https://www.supersummary.com/between-the-acts/summary/ " target="_blank">https://www.supersummary.com/between-the-acts/summary/ </a></li>
                <li>Sinopsis Jardines de Kew. <a href="https://www.sparknotes.com/lit/Kew-Gardens/" target="_blank">https://www.sparknotes.com/lit/Kew-Gardens/</a></li>
                <li>Sinopsis Lunes o martes. <a href="http://sittingbee.com/monday-or-tuesday-virginia-woolf/ " target="_blank">http://sittingbee.com/monday-or-tuesday-virginia-woolf/ </a></li>
                <li>Sinopsis Flush: una biografía. <a href="http://www.bookrags.com/studyguide-flush2/#gsc.tab=0" target="_blank">http://www.bookrags.com/studyguide-flush2/#gsc.tab=0</a></li>
                <li>Sinopsis Roger Fry: una biografía. <a href="https://campuspress.yale.edu/modernismlab/roger-fry-a-biography/" target="_blank">https://campuspress.yale.edu/modernismlab/roger-fry-a-biography/</a></li>
                <li>Sinopsis El lector común. <a href="https://mantex.co.uk/the-common-reader-first-series/" target="_blank">https://mantex.co.uk/the-common-reader-first-series/</a></li>
                <li>Sinopsis Una habitación propia. <a href="https://www.britannica.com/topic/A-Room-of-Ones-Own" target="_blank">https://www.britannica.com/topic/A-Room-of-Ones-Own</a></li>
                <li>Sinopsis De la enfermedad. <a href="https://medhum.med.nyu.edu/view/218" target="_blank">https://medhum.med.nyu.edu/view/218</a></li>
                <li>Sinopsis Paseos por Londres. <a href="https://changing-pages.com/2015/09/03/book-review-the-london-scene-by-virginia-woolf/" target="_blank">https://changing-pages.com/2015/09/03/book-review-the-london-scene-by-virginia-woolf/</a></li>
                <li>Sinopsis Tres guineas. <a href="https://link.springer.com/chapter/10.1057/9780230554542_3" target="_blank">https://link.springer.com/chapter/10.1057/9780230554542_3</a></li>
            </ol>
        </main>
        <script type="module" src="../assets/scripts/app.js"></script>
        <footer></footer>
    </body>
</html>