<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../assets/styles/main.scss">
        <title>Virginia Woolf: Biografía</title>
    </head>
    <body>
        <header>
            <h1>Virginia Woolf</h1>
        </header>
        <nav>
            <ul>
                <li><a href="../index.html">Portada</a></li>
                <li><a href="./categoria.html">Libros</a></li>
                <li><a href="./presentacion.html" class="current">Biografía</a></li>
                <li><a href="./enlaces.html">Bibliografía</a></li>
            </ul>
        </nav>
        <main>
            <div class="foto">
                <figure>
                    <img src="../assets/img/VirginiaWoolf.jpg" alt="Virginia Woolf">
                </figure>
                <div>
                    <p>
                        Virginia Woolf, cuyo nombre origialmente era Adeline Virginia Stephen, (nació 
                        el 25 de enero de 1882 en Londres y falleció el 28 de marzo de
                        1941 cerca de Rodmell, Sussex) fue una escritora inglesa cuyas novelas, a través 
                        de sus enfoques no lineales de la narrativa, ejercieron una gran influencia en el género.
                    </p>
                    <p>
                        Mientras que es principalmente conocida por sus novelas, más en concreto por La señora Dalloway (1925) y 
                        Al faro (1927), Woolf también fue pionera en escribir ensayos sobre teoría artística,
                        literatura histórica, literatura femenina y las políticas de poder. Fue una buena estilista,
                        experimentó con diversas formas de las escrituras biográficas, compuso cortas ficciones
                        pictóricas y ofreció a sus amigos y familiares una vida de brillantes letras.
                    </p>

                    <p>
                        Virginia Stephen decició en 1908 "reformar" la novela creando una forma holística que abarcara 
                        aspectos de la vida que estaban "fugados" de la novela victoriana. Mientras escribía reseñas 
                        anónimas para el Times Literary Supplement y otras revistas, experimentó con dicha novela, a la 
                        que llamó Melymbrosia. 
                    </p>

                    <p>
                        Entre 1910 y 1915, la salud mental de Virginia era precaria. A pesar de ello, en 1913 refundó 
                        completamente Melymbrosia como Fin de viaje. Las preocupaciones maníaco-depresivas de Woolf 
                        (que era un fracaso como escritora y como mujer, que era despreciada) provocaron un intento 
                        de suicidio en septiembre de 1913. La publicación de Fin de viaje se retrasó hasta principios 
                        de 1915; entonces, en abril, se hundió en un estado de angustia en el que a menudo deliraba. 
                        Ese mismo año superó las "viles imaginaciones" que habían amenazado su cordura. Mantuvo a raya 
                        los demonios de la manía y la depresión durante el resto de su vida.
                    </p>

                    <p>
                        Virginia llevaba un diario, de forma intermitente, desde 1897. En 1919 imaginó "la sombra de 
                        algún tipo de forma que podría alcanzar un diario", organizado no por un registro mecánico de 
                        los acontecimientos sino por la interacción entre lo objetivo y lo subjetivo. Su diario, como 
                        escribió en 1924, revelaría a las personas como "astillas y mosaicos; no, como solían sostener,
                         enteros inmaculados, monolíticos y consistentes". Estos términos inspiraron posteriormente 
                         distinciones críticas, basadas en la anatomía y la cultura, entre lo femenino y lo masculino, 
                         siendo lo femenino una forma variada pero omnipresente de experimentar el mundo y lo masculino 
                         una forma monolítica o lineal. Los críticos que utilizan estas distinciones han atribuido a Woolf 
                         el mérito de haber desarrollado una forma de diario claramente femenina, que explora, con percepción, 
                         honestidad y humor, su propio yo, siempre cambiante y en forma de mosaico.
                    </p>
                </div>
            </div>
        </main>
        <script type="module" src="../assets/scripts/app.js"></script>
        <footer></footer>
    </body>
</html>