$negro: rgb(0, 0, 0);
$blanco: rgb(255,255,255);
$violeta: rgb(130, 43, 230);
$violeta-claro: rgb(208, 177, 243);
$violeta-oscuro: rgb(51, 11, 97);
$amarillo: rgb(255, 250, 224);
$naranja: rgb(255, 145, 0);

$font-lora: 'Lora';